<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Search Results for {{ query }}</h1>
       {% if search_items %}
        <table>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Rating</th>
        </tr>
    {% for item in search_items %}

        <tr>
            <td><a href="{% url 'detail' item.id %}">{{ item.title }}</a></td>
            <td>{{ item.date }}</td>
            <td>{{ item.avg_rating }}/5</td>
        </tr>
    <br>
    {% endfor %}
            </table>
    {% else %}
        <div>No Movies matched that name</div>
    {% endif %}
    <a href="{% url 'home' %}">Back to Movies</a>
</body>
</html>